.container {
  display: flex;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(to right, (#E7E5D8), rgba(255, 92, 42, 0.671));
  padding: 0px;
  box-shadow: 0px 0px 3px 3px #f3ceb9;
  

  h1 {
    color: rgb(0, 0, 0);
    font-weight: unset;
    letter-spacing: 1.2rem;
    padding: 3px;
    
    span {
      color: #6d0000;
    }
  }
  img {
    height: 60px;
    width: 60px;
    margin: 19px 17px -15px 1px;
  }
}
h2 {
  font-weight: bold;
  margin: 27px 15px 10px 0px;
  letter-spacing: 0.5rem;
  color: #6d0000;

  span {
    color: rgb(0, 0, 0);
  }
}
