.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, rgba(255, 92, 42, 0.671), rgb(94, 80, 80));
    box-shadow: 10px 10px 10px 10px #743c3c;
}
.icons {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin:10px;
    font-size: 23px;
    justify-content: space-evenly;
}