.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, (#E7E5D8), rgba(255, 92, 42, 0.671));
}
.icons {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin:10px;
    font-size: 23px;
    justify-content: space-evenly;
}