.row{
    background: linear-gradient(to right, rgba(255, 92, 42, 0.671), rgb(94, 80, 80));
    color: #fff;
    width: 20rem;
    font-size: 18px;
    margin: 0 0 10 10px;
    border-radius: 10px;  
    
    
}
.btn {
    color: #0303037a;
    background-color: transparent; 
    cursor: pointer;
    border: none;
   
}
.btn:hover {
    transition-duration: 0.2s;
    border-radius: 10px;
}
.menu-card{
    list-style: none;
}
.openAcessories {
    display: none;
}