
  <nav class="container">
    <ul>  
      <li>
     <button class="__btn"  routerLink='home' > <i class="fas fa-home"> </i> Home</button>
      </li>
      <li>
        <button class="__btn" routerLink='menu'> <i class="fas fa-bars"></i> Menu</button>
      </li>
      <li>
        <button class="__btn" routerLink='**'> <i class="fab fa-shopify"></i> Shop</button>
      </li>
      <li>
        <button class="__btn"  routerLink='help'> <i class="fas fa-info"></i> Help</button>
      </li>
      </ul>
  </nav>
  <router-outlet></router-outlet>

