
.container {
   align-items: center;
   display: flex;
   margin: 100px 100px 100px 100px ;

  

   img {   
    height: 550px;
    width: 550px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 3px 3px #f3ceb9;

   }
}